<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config"
               strict="true">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%15.15t] %-5p %16.16c %x - %m%n"/>
        </Appender>
        <Appender type="File" name="File" fileName="target/logs/${ctx:app}-${date:yy-MM-dd-HH-mm-ss}.log">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%15.15t] %-5p %16.16c %x - %m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>